@charset "UTF-8"; 
body
{
    padding:0px;
    margin: 0px;
    font-family:verdana, sans-serif;
    background-color:white;
}

.container
{
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    padding: 20px;
}
header, footer
{
    background-color:bisque;
}

main
{
    min-height: 400px;
    background-color: #ccc;
}
